@import '../../theme/variables.styl'

.air-drop
    height: 100vh
    background: url('../../img/bg.png') no-repeat
    background-size: cover
    background-attachment: fixed
    background-position: center bottom
    position: relative
    .center-form
        width: 540px
        height: 600px
        background-color: $light
        box-shadow: 0px 5px 24px 0 rgba(253, 118, 111, 0.45)
        position: absolute
        top: 50%
        left: 50%
        margin-top: -300px
        margin-left: -270px
        text-align: center
        .air-logo
            margin: 50px 0 100px
        .air-doc
            margin: 50px
        .air-tip
            width: 55%
            line-height: 1.63
            color: #1d1b1b
            display: inline-block
            margin: 30px 0
        .form-group
            display: inline-block
            width: 80%
            height: 50px
            border-radius: 25px
            background-image: linear-gradient(to right, #fb915e, #fd776a 55%, #fc80aa)
            // box-shadow: 0px 1px 10px 0 #fb915e
            .form-control
                height: 46px
                background-color: $light
                margin: 2px 0 2px 2px
                border-radius: 25px 0 0 25px
                &:focus
                    border: none 
                    outline: none
            .input-group-addon
                border-radius: 0 25px 25px 0
                background-image: linear-gradient(to right, #fb915e, #fd776a 49%, #fc80aa)
                color: $light
                font-size: 18px
                border: none
    .pos
        position: absolute
    .cloud-l1
        top: 390px
        left: 20px
    .cloud-l2
        left: 100px
        top: 2px
    .hot-ball
        top: 90px
        left: 1px
    .tree-l
        bottom: 20px
        left: 20px
    .cloud-r1
        right: 25px
        top: 130px
    .cloud-r2
        right: 220px
        top: 8px
    .sun
        right: 16px
        top: 144px
    .tree-r
        right: 0
        bottom: 50px
    .car
        right: 65px
        bottom: 1px
