@import '../../theme/variables.styl'

.left
    float: left
.right
    float: right
.container
    padding: 0

.header-nav
    border: none
    margin-bottom: 0
    box-shadow: 0px 3px 7px 0 rgba($dark, .3)
    background-color: rgba(#f8f8f8, 0.9)
    .navbar-header
        margin-top: 5px
        height: 50px
        .navbar-brand
            padding: 5px 15px
        .logo1
            width: 40px
            float: left
        .logo3
            float: left
            width: 175px
    .navbar-collapse
        padding: 0
        .navbar-nav
            float: right
            margin: 10px

.top-area
    height: 100vh
    background: url('../../img/banner.jpg') no-repeat
    background-size: cover
    background-attachment: fixed
    background-position: center bottom
    position: relative
    .events
        background-color: $orange
        color: $light
        text-align: center
        font-weight: bold
        .right-btn
            width: 147px
            height: 40px
            border: 2px solid $light
            border-radius: 20px
            text-align: center
            line-height: 35px
            margin-left: auto
            margin-right: auto
    .tips
        width: 230px
        position: absolute
        bottom: 30px
        left: 50%
        margin-left: -115px
        font-size: 12px
        color: $light
        text-align: center
        .tip-btn
            margin-bottom: 10px
            overflow: hidden
            div
                border: 2px solid $light
                width: 105px
                height: 40px
                line-height: 40px
                border-radius: 20px
                text-align: center
                &:hover
                    cursor: pointer
        h3
            font-weight: bold
            font-size: 43px
        .more
            writing-mode: tb-rl
            position: absolute
            bottom: -18px
            left: 108px
            font-size: 20px

.intro
    background-image: linear-gradient(to right, #f1911c, #eac72a)
    // background-size: cover
    // background-attachment: fixed
    // background-position: center bottom
    .fun-left
        text-transform: uppercase
        padding-top: 45px
        .top-line
            height: 6px
            width: 95%
            background-color: $light
            margin-bottom: 20px
        .left-text
            color: $light
        &:second-child
            margin-top: 15px
    .fun-right
        line-height: 1.8
        padding-bottom: 20px
        color: $light
        .video-react
            width: 100%
            .video-react-big-play-button
                top: 50%
                left: 50%
                margin-top: -22px
                margin-left: -45px
.what-globe
    background: url('../../img/feature.jpg') no-repeat
    background-size: cover
    background-attachment: fixed
    background-position: center bottom
    .wrapper
        .title
            margin-bottom: 40px
            letter-spacing: normal
    .container
        margin-bottom: 50px
        .ptl1-item
            position: relative
            margin-bottom: 20px
            .item-pic
                width: 70px
                height: 70px
                border-radius: 50%
                position: relative
                transition: transform 0.3s ease-in
                &:before
                    content: ''
                    border-radius: 50%
                    position: absolute
                    top: 6px
                    right: 6px
                    bottom: 6px
                    left: 6px
                    box-shadow: 0 0 50px rgba(86,66,142,.14)
                &:hover
                    transition: transform 0.3s ease-out
                    transform: scale(1.2, 1.2)
                img
                    max-width: 100%
            .item-txt
                position: absolute
                top: 50%
                left: 100px
                right: 15px
                transform: translate(0,-50%)
                font-size: 16px
                color: #666
                .bold
                    font-weight: bold
    .ft
        text-align: center
        .article
            color: #666666
            font-size: 18px
            margin-bottom: 100px
            .a-intro
                font-weight: bold
                margin-bottom: 25px
        .video-btn
            width: 230px
            height: 50px
            line-height: 50px
            border: 2px solid #ccc
            border-radius: 20px
            text-align: center
            margin-bottom: 50px
            display: inline-block
            color: #666666
            font-weight: bold
    .phone-img
        width: 100%
        background-size: contain
        img
            max-width: 100%
.inno
    padding: 40px
    background-color: $light
    position: relative
    // padding-bottom: 700px
    .inno-container
        .reason
            .reason-item
                position: relative
                margin-bottom: 55px
                text-align: center
                .item-pic
                    width: 80px
                    height: 80px
                    background-color: $light
                    border-radius: 50%
                    padding: 10px
                    margin: 0 auto
                    box-shadow: 0 0 60px rgba(86,66,142,.14)
                    img
                        max-width: 100%
                .item-txt
                    color: #222222
                    .txt-title
                        margin-bottom: 25px
                        font-size: 26px
                        color: $orange
                        .color-3
                            color: #222222
                    .txt-intro
                        line-height: 1.4
                        font-size: 16px
                        font-style: italic
.files
    background-color: rgba($orange, .1)
    .col-xs-6
        min-width: 257px
    .files-left, .files-right
        text-align: center
        padding: 50px 0
        width: 257px
        margin: 0 auto
        .names
            height: 42px
            border-radius: 4px
            line-height: 40px
            margin-top: 10px
        .available
            margin-top: 35px
        .language
            margin-top: 15px
            span
                color: $orange
                cursor: pointer
                i
                    color: $dark
                    font-style: normal
    .files-left
        .names
            background-color: $light
            color: $orange
    .files-right
        .names
            background-color: $orange
            color: $light

.team
    border-top: $border
    .persons
        margin-top: 30px
    .person-intro
        border-bottom: $border
        padding-top: 20px
        padding-bottom: 20px
        img
            float: left
        .person-right
            margin-left: 180px
            h4
                font-weight: bold
            p
                margin: 15px 0
                line-height: 23px
                color: rgba($fontc, .6)
            li
                margin-right: 20px
.team-img
    background: url('../../img/team.jpg') no-repeat
    background-size: cover
    background-attachment: fixed
    background-position: center bottom
.team.advisors
    .persons>.person-intro
        height: initial
        padding-top: 30px
        padding-bottom: 30px
.contact
    background-image: url('../../img/grid.png')
    background-size: auto 100%
    .contact-icons
        width: 258px
        li
            margin-right: 65px
            float: left
            &:last-child
                margin-right: 0
    .up-to-top
        margin: 0 auto
        width: 70px
        height: 70px
        border-radius: 50%
        background-color: $light
        box-shadow: 2px 3px 20px 0 rgba(68,68,68,0.2)
        cursor: pointer
        text-align: center
        line-height: 62px
        img
            width: 50px
.partners, .investors
    border-bottom: $border
    background-color: $light
    li
        height: 125px
        margin-top: 30px
        text-align: center
        &:last-child
            margin-bottom: 35px
        img
            max-width: 180px
        .investor-intro
            color: rgba(38,42,46,0.6)
    .col-lg-2, .col-md-3, .col-sm-4, .col-xs-6, .col-xs-12
        padding: 0
.footer
    background-color: $dark
    color: rgba($light, .3)
    padding-top: 20px
    padding-bottom: 20px
    h4
        color: rgba($light, .9)
    .footer-left
        text-align: center
    .footer-mid
        h4+p
            margin-top: 30px
        p+p
            margin-bottom: 30px
    .footer-right
        li
            margin-right: 30px
            float: left
        .e-mail, .splitter, .contact-icons, .join-us
            margin-top: 30px
        .splitter
            width: 90%
            height: 1px
            background-color: rgba($light, .3)

@media (max-width: 440px)
    .header-nav
        padding: 0 20px
        .logo3
            display: none
        .navbar-toggle
            margin: 10px
    .events
        .event1
            padding-top: 10px
            font-size: 20px
        .event2
            font-size: 20px
            padding-top: 10px
        .event3
            .right-btn
                margin-top: 10px
                margin-bottom: 10px
    .intro
        .left-text
            font-size: 30px
        .fun-right
            padding-top: 20px
    .contact
        padding-bottom: 20px
        .contact-icons
            margin: 20px auto
    .team
        .person-intro
            img
                width: 80px
            .person-right
                margin-left: 100px
    .partners, .investors
        li
            img
                max-width: 140px
@media (min-width: 440px)
    .header-nav
        padding: 0 20px
        .navbar-toggle
            margin: 10px
    .events
        .event1
            padding-top: 10px
            font-size: 20px
        .event2
            font-size: 20px
            padding-top: 10px
        .event3
            .right-btn
                margin-top: 10px
                margin-bottom: 10px
    .intro
        .left-text
            font-size: 30px
        .fun-right
            padding-top: 20px
    .contact
        padding-bottom: 20px
        .contact-icons
            margin: 20px auto
    .team
        .person-intro
            img
                width: 100px
            .person-right
                margin-left: 130px
@media (min-width: 768px) and (max-width: 991px)
    .header-nav .navbar-collapse
        .navbar-nav
            >li>a
                padding: 10px 8px
    .header-nav
        .navbar-toggle
            margin: 10px
    .events
        .event1
            font-size: 25px
            padding-top: 25px
        .event2
            font-size: 30px
            padding-top: 20px
        .event3
            .right-btn
                margin-top: 30px
                margin-bottom: 30px
    .intro
        .left-text
            font-size: 40px
    .team
        .person-intro
            padding-left: 0
            padding-right: 0
            float: left
            .person-right
                margin-left: 120px
            &:first-child, &:nth-child(2)
                height: 350px
            &:nth-child(3), &:nth-child(4)
                height: 460px
            &:nth-child(5), &:nth-child(6)
                height: 375px
            &:nth-child(7), &:nth-child(8)
                height: 260px   
            &:nth-child(2n)
                padding-left: 50px
    .team.advisors
        .persons>.person-intro
            &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4)
                height: 310px
            &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8)
                height: 190px
            &:nth-child(9), &:nth-child(10)
                height: 360px
    .contact
        padding-bottom: 30px
        .contact-icons
            margin: 40px auto
    .what-globe
        .container
            margin-bottom: 200px
            .ptl1-item
                .item-pic
                    width: 96px
                    height: 96px
                .item-txt
                    left: 190px
@media (min-width: 992px) and (max-width: 1299px)
    .header-nav .navbar-collapse
        .navbar-nav
            >li>a
                padding: 10px 15px
    .events
        .event1
            font-size: 35px
            padding-top: 25px
        .event2
            font-size: 40px
            padding-top: 20px
        .event3
            .right-btn
                margin-top: 30px
                margin-bottom: 30px
    .intro
        .left-text
            font-size: 45px
        .fun-right
            padding-top: 45px
            padding-bottom: 35px
            font-size: 18px
            .video-react
                width: 90%
                margin: 0 auto
    .team
        .person-intro
            &:first-child, &:nth-child(2)
                height: 285px
            &:nth-child(3), &:nth-child(4), &:nth-child(7), &:nth-child(8)
                height: 330px
            &:nth-child(5), &:nth-child(6)
                height: 260px
    .team.advisors
        .persons>.person-intro
            height: 250px
            &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8)
                height: 200px
            &:nth-child(3), &:nth-child(4), &:nth-child(9), &:nth-child(10)
                height: 310px
    .contact
        padding-bottom: 40px
        .contact-icons
            margin: 60px auto
    .what-globe
        .container
            .ptl1-item
                .item-pic
                    width: 116px
                    height: 116px
                .item-txt
                    left: 160px
                    font-size: 20px
@media (min-width: 1300px)
    // .top-area
    //     height: 100vh
    .navbar-nav
        margin-top: 26px
    .events
        .event1
            font-size: 45px
            padding-top: 35px
        .event2
            font-size: 50px
            padding-top: 30px
        .event3
            .right-btn
                margin-top: 45px
                margin-bottom: 45px
    .intro
        .left-text
            font-size: 50px
        .fun-right
            font-size: 20px
    .team
        .person-intro
            padding-left: 0
            padding-right: 0
            width: 590px
            float: left
            height: 320px
            img
                width:150px
            .person-right
                margin-left: 180px
            // &:first-child, &:nth-child(2), &:nth-child(5), &:nth-child(6)
            //     height: 310px
            // &:nth-child(3), &:nth-child(4), &:nth-child(7), &:nth-child(8)
                // height: 320px
            &:nth-child(2n)
                margin-left: 100px
    .team.advisors
        .persons>.person-intro
            height: 240px
    .contact
        padding-bottom: 50px
        .contact-icons
            margin: 80px auto
    .inno
        .inno-container .reason
            .reason-item
                text-align: left
                .item-pic
                    width: 140px
                    height: 140px
                    background-color: $light
                    border-radius: 50%
                    padding: 10px
                    margin: 0 auto
                    box-shadow: 0 0 60px rgba(86,66,142,.14)
                    img
                        max-width: 100%
                .item-txt
                    color: #222222
                    position: absolute
                    top: -15%
    .reason-item:nth-child(2n + 1)
        .item-txt
            right: 0
            left: 50%
            margin-left: 200px
    .reason-item:nth-child(2n + 2)
        .item-txt
            left: 0
            right: 50%
            margin-right: 200px
    .what-globe
        .container
            .ptl1-item
                .item-pic
                    width: 136px
                    height: 136px
                .item-txt
                    left: 180px
                    font-size: 22px
.features, .intro, .contact
    background-color: $light

.title
    padding-top: 40px
    text-align: center
    font-size: 40px
    letter-spacing: 8px
    color: $orange


//
@media (min-width: 1300px)
    .container
        width: 1280px
