@import '../../theme/variables.styl'

.index
    width: 100%
    margin: 0 auto
.top-area
    background: url('../../img/bg.png') no-repeat
    height: 665px
    background-size: cover
    .bottom
        background: url('../../img/bg2.png') repeat
        height: 93px
        margin-top: -29px
        background-size: auto 100%
    .navbar-default
        background-color: transparent
        border: none
        height: 80px
        .navbar-header
            padding-top: 15px
        .navbar-right
            color: $light
    .slogan
        margin-top: 100px
        color: $light
        font-size: 40px
    .under-slogan
        margin-top: 40px
    .btn-default
        width: 200px
        height: 42px
        margin-top: 20px
.function
    height: 415px
    &:nth-child(2)
        height: 365px
    &:nth-child(odd)
        background-color: rgba($positive, .2)
        .left-pic
            margin-top: 50px
.footer
    height: 55px
    line-height: 55px
    background-color: rgba($dark, .9)
    color: $light
