html, body
    margin: 0
    padding: 0
.fl
    float: left
.fr
    float: right
a
    text-decoration: none

.el-dropdown-menu__item--divided:before, .el-menu,
.el-menu--horizontal>.el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal>.el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal>.el-submenu .el-submenu__title:hover
    background: transparent