$positive = #4c6ec3

$light = #fff
$dark = #444

$fontc = #262a2e
$iconc = #9aabb8
$borderc = #dee6ed
$backgroundc = #f6f9f9

$border = 1px solid $borderc

$shadow = 0px 1px 5px 0 rgba($dark, 0.15)

// 超出部分省略号
.over-ellipsis
    white-space:nowrap
    overflow:hidden
    text-overflow:ellipsis
