$positive = #2d97f7
$darkblue = #247fd1
$orange = #ffb400
$red = #ed1b24

$light = #fff
$dark = #444

$fontc = #262a2e
$iconc = #9aabb8
$borderc = #dee6ed
$backgroundc = #f6f9f9

// header的高度
$header = 68px

// abs的高度
$abs = 55px

// 菜单栏高度
$menu-mid = 60px

// 左侧目录，空间和库
$left-nav-h = 44px
//border
$border = 1px solid $borderc

$shadow = 0px 1px 5px 0 rgba($dark, 0.15)
// --------------------------------------

$lightblue = #00ddff
$stable = #edf4f9
$calm = #9966cc
$balanced = #33cd5f
$energized = #ffc900
$assertive = #ef473a
$royal = #886aea
$body-bg = #eaebef
$search-result = #f6f7f8
// 换皮肤
$blue = #3eb9e6
$btn-blue = #5bc0de



// font-size

$font-10 = 10px;
$font-12 = 12px;
$font-14 = 14px;
$font-16 = 16px;
$font-18 = 18px;
$font-20 = 20px;
$font-24 = 24px;
$font-28 = 28px;

// field

$field-padding = 12px;
$field-margin = 8px;

// margin
$margin-xs = 1px;
$margin-s = 3px;
$margin-m = 6px;
$margin-l = 10px;

// padding

$padding-s = 3px;
$padding-m = 7px;
$padding-l = 10px;
$padding-14 = 14px;

//card

$card = 199px;

// 库底栏高度
$main-footer = 32px

// 个人空间 组织空间 库首页侧边栏的宽度
$side-bar = 190px

// 个人空间 组织空间 库首页目录编辑模式下宽度
$side-bar-edit = 310px

// 超出部分省略号
.over-ellipsis
    white-space:nowrap
    overflow:hidden
    text-overflow:ellipsis
