@import '../../theme/variables.styl'

html, body
    font-family:"Microsoft YaHei","MicrosoftJhengHei",STHeiti,MingLiu
    // min-width: 1140px
    height: 100%
    color: $fontc
    background-color: $backgroundc
    font-size: 14px

.height
    height: 100%
ul
    padding: 0
    margin: 0

li
    list-style: none

a
    color: $fontc
    &:focus,
    &:hover
        outline: 0
        text-decoration: none
.nav > li > a:hover,
.nav > li > a:focus
    background-color: $light

.app
    padding: 0
    margin: 0

.clearfix
    zoom: 1

.clearfix:after
    content: ""
    display: block
    clear: both
    height: 0

// -------------------------定宽样式-----------------------------
.fixed-width, .full-width
    height: 100%
    padding-top: $header
    overflow: auto

.fixed-width
    .fixed-width-inner
        margin: 0 auto
        width: 1180px
        height: 100%

.fixed-left, .fixed-right, .group-right
    box-shadow: $shadow
    background-color: $light
    border-radius: 4px

.fixed-left, .fixed-right
    float: left
.fixed-left
    width: 208px
    margin-right: 15px
    margin-top: 15px

.fixed-right, .group-left
    margin-top: 15px
    width: 957px
    max-height: calc(100% - 25px)
    overflow: auto

.group-right
    float: right
    width: 208px
    margin-left: 14px
    
// -------------------------自适应样式-----------------------------
.full-width
    width: 100%

.full-left, .full-right
    float: left

.full-left
    width: 240px
    background-color: $light
    height: calc(100% - 2px)
    margin-top: 2px
    box-shadow: $shadow
    overflow: auto

.full-right
    width: calc(100% - 240px)
    padding: 15px 15px 0 15px
    height: 100%

.set-width
    padding: 15px
    padding-top: 83px
    
// ------------------------左侧导航-------------
.left-nav-items
    text-align: center
    padding: 15px 0
.left-nav-item
    height: $left-nav-h
    line-height: $left-nav-h
    position: relative
    border-right: 4px solid transparent
    .nav>li>a
        padding: 0
.left-item-actived
    background-color: lighten($positive, 90%)
    border-right-color: lighten($positive, 30%)


// ------------------------按扭样式----------------------------------

// 白色背景
.white
    background-color: $light

// 防止下拉框出屏幕
.abs-header .abs-right,
.doc-detail, .header-help,
.login-regist
    .open > .dropdown-menu
        left: inherit
        right: 0
//===============微信跳转============
.wechat-redirect
    padding-top: 15%

// ------------------------按扭样式----------------------------------
// by wangchao 2017.9.21

.btn
    letter-spacing: 1px
    padding: 7px 16px
    border-radius: 6px
    &:focus, &:active:focus, &:active
        outline: 0
        box-shadow: none

.btn-long
    padding: 7px 27px
    border-radius: 6px

.btn-default
    color: $fontc

.btn-primary
    border: 0
    background-image: linear-gradient(to left, $positive, #2dbef7)
    line-height: 20px
    .icon
        color: $light
    &:hover, &:focus, &:active, &:active:hover
        box-shadow: 3px 5px 14px rgba($positive, 0.3)

.btn-second
    border: 0
    background-image: linear-gradient(to left, #f48d08, $orange)
    color: $light
    &:hover, &:focus
        box-shadow: 3px 5px 14px rgba($orange, 0.3)
        color: $light

.btn-success
    color: $positive
    border-color: $positive
    background-color: transparent
    line-height: 19px
    &:hover, &:focus, &:active, &:active:hover
        color: $positive
        border-color: $positive
        background-color: rgba($positive,.2)

.btn-info
    background-color: transparent
    border-color: $light
    color: $light
    &:hover, &:focus, &:active, &:active:hover
        color: $fontc
        background-color: $light
        border-color: $light

.btn-link
    color: $positive

.btn-white
    border: 0
    color: $positive
    opacity: 0.9
    background-color: $light

.dropdown.btn-group
    .btn
        border: none
        background-color: transparent
        &:hover, &:focus
            background-color: transparent
        &:active
            box-shadow: none
    .btn-primary
        &:active, &:hover, &:focus
            background-image: linear-gradient(to left, $positive, #2dbef7)
.dropdown-menu>li>a
    padding: 15px 20px
.btn-group.open .dropdown-toggle
    box-shadow: none
.save-btns
    .btn+.btn
        margin-left: 30px
        
.get-code.input-group-btn
    .btn
        padding: 9.5px 13px
        color: $positive
// --------------------border with shadow---------------------
// by wangchao 2017.9.22
.border-shadow
    box-shadow: $shadow
    border: $border
    padding: 0 16px 20px 16px

.form-control,
.Select-placeholder
    padding-left: 15px
    height: 41px
    border-color: $borderc
    background-color: rgba($borderc, .2)
    box-shadow: none

// -------------------  end----------- ---
::-webkit-scrollbar
    width: 7px
    height: 10px
    background-color: #F5F5F5
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    background-color: #F5F5F5
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
    background-color: rgba($dark,.3)
    