@import '../../theme/variables.styl'

html, body
    font-family:"Microsoft YaHei","MicrosoftJhengHei",STHeiti,MingLiu
    // min-width: 1140px
    height: 100%
    color: $fontc
    background-color: $backgroundc
    font-size: 14px

.height
    height: 100%
ul
    padding: 0
    margin: 0

li
    list-style: none

a
    color: $fontc
    &:focus,
    &:hover
        outline: 0
        text-decoration: none
.nav > li > a:hover,
.nav > li > a:focus
    background-color: $light

.app
    padding: 0
    margin: 0

.clearfix
    zoom: 1

.clearfix:after
    content: ""
    display: block
    clear: both
    height: 0

// 白色背景
.white
    background-color: $light

// ------------------------按扭样式--------------------------------

.btn
    letter-spacing: 1px
    padding: 7px 16px
    border-radius: 6px
    &:focus, &:active:focus, &:active
        outline: 0
        box-shadow: none

.btn-long
    padding: 7px 27px
    border-radius: 6px

.btn-default
    color: $fontc

.btn-primary
    border: 0
    background-image: linear-gradient(to left, $positive, #2dbef7)
    line-height: 20px
    .icon
        color: $light
    &:hover, &:focus, &:active, &:active:hover
        box-shadow: 3px 5px 14px rgba($positive, 0.3)

.btn-success
    color: $positive
    border-color: $positive
    background-color: transparent
    line-height: 19px
    &:hover, &:focus, &:active, &:active:hover
        color: $positive
        border-color: $positive
        background-color: rgba($positive,.2)

.btn-info
    background-color: transparent
    border-color: $light
    color: $light
    &:hover, &:focus, &:active, &:active:hover
        color: $fontc
        background-color: $light
        border-color: $light

.btn-link
    color: $positive

.dropdown.btn-group
    .btn
        border: none
        background-color: transparent
        &:hover, &:focus
            background-color: transparent
        &:active
            box-shadow: none
    .btn-primary
        &:active, &:hover, &:focus
            background-image: linear-gradient(to left, $positive, #2dbef7)
.dropdown-menu>li>a
    padding: 15px 20px
.btn-group.open .dropdown-toggle
    box-shadow: none

.form-control,
.Select-placeholder
    padding-left: 15px
    height: 41px
    border-color: $borderc
    background-color: rgba($borderc, .2)
    box-shadow: none

// -------------------  end----------- ---
::-webkit-scrollbar
    width: 7px
    height: 10px
    background-color: #F5F5F5
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    background-color: #F5F5F5
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
    background-color: rgba($dark,.3)
    